# Dependencies
node_modules/

# Build outputs
dist/
.vocs/
build/
.cache/

# Environment files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
